@charset "UTF-8";
.context_container{
	margin-left:250px;
}
.left_bar_container{
	margin-top:80px;
	position: absolute;
	width: 250px;
	background-color: #f7f9fa;
	border: 1px solid #dae1e6;
}
.sign_info_container{
	width:90%;
	height: 200px;
	border:1px solid black;
	margin: 10px auto 10px auto;
}
.category_container{
	width:90%;
	border:1px solid black;
	margin: 10px auto 10px auto;
}
.board_fontsize{
	list-style:none;
	font-size: 5px;
}
.loginBtn{
	border: 1px solid #3c4790;
    background: #4a57a8;
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-shadow: 0px 1px #343d8e;
    margin: auto;
    width: 95%;
    height: 40px; 
    cursor: pointer;
}

.join
{
	text-decoration: none;
	font-weight: bold;
	float: center;
	font-weight: 1px;
    color: #000000;
}
.join2
{
	margin-top: 20px;
}

.login_msg
{
	font-size: 12px;
	padding-left: 3px;
    color: black;
}


























