@charset "UTF-8";
.context_container{
	margin-left:250px;
}
.left_bar_container{
	position: absolute;
	width: 250px;
	border:1px solid blue;
}
.sign_info_container{
	width:90%;
	height: 200px;
	border:1px solid black;
	margin: 10px auto 10px auto;
}
.category_container{
	width:90%;
	border:1px solid black;
	margin: 10px auto 10px auto;
}